$onbackgroundColorLight:black;
$onbackgroundColorDark: white;
$primaryColor: #f7a90c;
$primaryColorLight:#ffba2e;
$primaryColorDark: #ad7400;
$secondaryColor: #ffffff;
$secondaryColorLight: rgb(32, 32, 30);
$secondaryColorDark: #9d5902;


#bookbody{
  background:#e6e6e6;
  height: auto;
  padding: 25px;

  a{
    background: $primaryColor;
    color: white;
  }

  .bookcustomcard{
    width: 300px;
    height: 200px;
    div{
      height: 100%;
      .col-md-4{
        width: 32%;
      }
      .col-md-8{
        width: 55%;
      }
    }
  }

  /*book*/
  form{

    h4{
      text-decoration: underline;
    }
    select{
      background-color: $secondaryColor;
      border: none;
      border-radius: 5px;
      height: 30px;
      margin-bottom: 8px;
      width: 100px;

    }

    textarea{
      border: none;
      border-radius: 5px;
      width: 70%;
    }

    .button{
      background: $primaryColor;
      border-radius: 5px;
      color: $secondaryColor;
      font-size: 15px;
      padding: 12px 30px 12px 30px;
    }
  }
}



/**media queries**/
/**
media queries
*/

@media(max-width: 1300px){

}

@media(max-width: 598px){

}

@media(max-width: 476px){
  /*book*/
  #bookbody{
    form{
      textarea{
        width: 100%;
      }
    }
  }
}

@media(max-width: 380px){
  #bookbody{
    h4{
      font-size: 25px;
    }
    p{
      font-size: 16px;
    }
  }
}
